body {
  font-family: 'Cinzel', serif;
  margin: 0;
  padding: 0;
  background-image: url(images/background.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  box-sizing: border-box;
  overflow-x: hidden;

}

header {
  background-color: #000;
  width: 100%;
  height: 60px;
  position: fixed;
}

.navbar {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 18px;
  width: 200px;
  margin-left: 50px;
}

.nav-links {
  display: flex;
  color: #979291;
  font-size: 14px;
  justify-content: space-between;
  width: 800px;
  padding: 0 15px;
  margin-right: 50px;
}

.nav-item {
  list-style-type: none;
}

.nav-item:hover {
  color: white;
}

.nav-item:first-child {
  color: white;
}

main {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 15px;
  /* margin-bottom: 300px; */
}

.hof-vote {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 575px;
  margin-top: 100px;

}

.hof-img {
  width: 425px;
  height: 425px;
  margin-bottom: 10px;
}

.rock-vote-btn {
  background-color: #337ab7;
  color: white;
  padding: 15px 40px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  font-weight: bold;
}

.articles {
  width: 575px;
  height: auto;
  background-color: rgba(0, 0, 0, .70);
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffff;
  padding-bottom: 50px;
}

a {
  text-decoration: none;
  color: #979291;
}

a:hover {
  color: #ffff;
  cursor: pointer;
}

h1,
p {
  width: 475px;
}

.article-images {
  width: 475px;
  height: 300px;
}

.date {
  font-size: 14px;
}

.article-headline {
  color: #979291;


}

.article-body {
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  color: #fff;
  letter-spacing: .5px;
  font-family: 'Roboto', sans-serif;
}

.quote {
  font-family: 'Roboto', sans-serif;
  font-size: 17.5px;
  border-left: 5px solid #fff;
  padding: 10px 20px;
  font-weight: 300;
  color: #fff;

}

footer {
  background-color: #000;
  height: 75px;
  width: 1400px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 200px;


}

.contact {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;

}

.icons {
  color: #979291;
  width: 175px;
  display: flex;
  justify-content: space-around;
}